<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = " viewport " content = " widht = device - widht, initial- scale = 1.0 ">
    
    <link rel="shortcut icon" href="{{url_for('static', filename='media/logo_permiso.ico')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/error.css') }}">
    <link rel="stylesheet" href="../static/style/error.css" type="text/css">

    <link rel="stylesheet" href="{{ url_for('static', filename='style/fonts/style.css') }}">
    <link rel="stylesheet" href="../static/style/fonts/style.css" type="text/css">
    <title>Proyecto Desarrollador Python</title>
</head>
<body>

    <center>

        <h1>Operación fallida<span class="icon-circle-with-cross" style="font-size: 200%; color:red;"></span></h1>
        <h1>No está registrado</h1>
    
        <div> 
            <h2>Debe registrarse. Intente nuevamente! Click en el botón "Usuario de empresa" para crear usuario de registro </h2>
        </div>
    
        <a href="menu.html" class= "button medium radius"><span class="icon-home"></span>Inicio</a> 
        <a href="registrar" class= "button blue medium radius"><span class="icon-check"></span>Usuario de empresa</a>
        <a href="salida.html" class= "button medium radius brown"><span class="icon-arrow-right"></span>Salir del sistema</a>  
    
    </center>

    <footer class="pie">
                
        <h3><span class="icon-address" style="font-size: 200%; color:  hsl(123, 99%, 44%);"></span>Dirección: Puerto Madryn. 
            <span class="icon-documents" style="font-size: 200%; color:  hsl(330, 17%, 98%);"></span>CP9120 - Chubut - Argentina  
            <span class="icon-email" style="font-size: 200%; color:  hsl(184, 99%, 44%);"></span>E-mail: johanarang@hotmail.com</h3>
    
    </footer>

</body>
</html>