<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name = " viewport " content = " widht = device - widht, initial- scale = 1.0 ">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/menu.css') }}">
    <link rel="stylesheet" href="../static/style/menu.css" type="text/css">

    <link rel="shortcut icon" href="{{url_for('static', filename='media/logo_permiso.ico')}}">

    <link rel="stylesheet" href="{{ url_for('static', filename='style/fonts/style.css') }}">
    <link rel="stylesheet" href="../static/style/fonts/style.css" type="text/css">
    <title>Proyecto Desarrollador Python</title>
</head>
<body>

    <h1>Bienvenido<span class="icon-hand" style="font-size: 200%; color: black;"></span></h1>
    <h2>Portal de registro para permisos de circulación provincial!<span class="icon-open-book" style="font-size: 300%; color:  hsl(256, 99%, 44%);"></span></h2>
    <h2><span class="icon-info" style="font-size: 150%; color: black;"></span>Selecciona la acción a realizar.</h2>
    <a href="registrar" class= "button blue medium radius"><span class="icon-add-user"></span>Usuario de empresa</a>
    <a href="validar_datos.html" class= "button medium radius"><span class="icon-check"></span>Datos a validar</a>
    <a href="salida.html" class= "button medium radius brown"><span class="icon-arrow-right"></span>Salir del sistema</a>  
    

    <footer class="pie">
                
        <h3><span class="icon-address" style="font-size: 200%; color:  hsl(123, 99%, 44%);"></span>Dirección: Puerto Madryn. 
            <span class="icon-documents" style="font-size: 200%; color:  hsl(330, 17%, 98%);"></span>CP9120 - Chubut - Argentina  
            <span class="icon-email" style="font-size: 200%; color:  hsl(184, 99%, 44%);"></span>E-mail: johanarang@hotmail.com</h3>
    
    </footer>

</body>
</html>